@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 244, 246);
}



@layer components {

    .flexCardContainer {
        @apply flex justify-center items-center md:mx-4
    }
    .cardInside {
        @apply p-4 mt-4 md:p-8 bg-white shadow-md rounded-lg max-w-7xl w-full
    }

    .cardHeader {
        @apply text-2xl font-bold text-center text-gray-800 mb-8
    }
    .fileInputContainer {
        @apply relative w-full inline-flex flex-col items-start justify-center gap-0 py-2 px-3 min-h-[3.5rem] h-14 bg-gray-100 border border-gray-300 rounded-xl shadow-lg
    }
    .fileInputLabel {
        @apply absolute top-0 left-3 -translate-y-1/2 transform scale-85 bg-gray-100 px-1 text-sm font-medium text-black pointer-events-none
    }
}
